---
layout: default_with_pagination
---

{% for post in paginator.posts %}
{% assign author_name = post.author.display_name %}
<div class="article">
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
<p>
le
{% assign m = post.date | date: "%-m" %}
{{ post.date | date: "%-d" }}
{% case m %}
  {% when '1' %}janvier
  {% when '2' %}février
  {% when '3' %}mars
  {% when '4' %}avril
  {% when '5' %}mai
  {% when '6' %}juin
 {% when '7' %}juillet
  {% when '8' %}août
  {% when '9' %}septembre
  {% when '10' %}octobre
  {% when '11' %}novembre
  {% when '12' %}décembre
{% endcase %}
{{ post.date | date: "%Y" }}, par <span class="author"><a href="{{ site.baseurl }}/author/{{ site.data.authors[author_name].short }}/">{{ author_name }}</a></span>
</p>
        <div class="content">
          {% if forloop.index  == 1 %}
            {{ post.content }}
        {% else %}
            {{ post.excerpt }}
        {% endif %}
        </div>
    </div>
</div>
{% endfor %}
