<h1>Blogoliste</h1>
<ul class="side_list">
    <li><a href="https://techblog.deepki.com/" title="Deepki Techblog">Deepki Techblog</a></li>
    <li><a href="http://www.cascrum.dibus.org" title="Créer du logiciel c’est cool">Ca Scrum !</a></li>
	<li><a href="http://devsnotebook.free.fr/" title="notes de développeur">Developers' notebook</a></li>
	<li><a href="http://xnopre.blogspot.com/" title="Développement logiciel, Java, nouvelles technologies, Agilité et ingénierie agile, etc …">Xavier blogue un peu …</a></li>
</ul>
