{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">

			<div class="well">

            	{{ content }}

        	</div>

        	<!--
			<div class="well">
			    <p>Voici les derniers articles publiés :</p>
			    <ul>
        			{% for post in site.posts limit:9 %}
			          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
			        {% endfor %}
			    </ul>
			</div>
	`		-->
        </div>
    </div>
</div>

{% include footer.html %}
